.logo {
    font-family: Poppins;
    font-size: 31px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    align-items: center;
    /* justify-content: center; */


    padding-top: 31px;
    padding-left: 31px;
    width: 96vw;
}

.public {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    padding: 16px;
    box-sizing: border-box;
}

.cards {
    border: 2px solid #edf5fe;
    border-radius: 12px;
    padding: 62px 33px;
    width: 100%;
    max-width: 640px;
    min-height: 60vh;

    background: #fff;
}


@media screen and (max-width: 768px) {
    .cards {
        padding: 32px 20px;
        min-height: auto;
    }
}

@media screen and (max-width: 425px) {
    .cards {
      width: 100%; 
      padding: 24px 16px;
    }
  }

.priorityText {
    font-family: Poppins;
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;


    color: #707070;
}

.cardTitle {
    font-family: Poppins;
    font-size: 29px;
    font-weight: 900;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;

}

.checklist {
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}


.taskList {
    overflow-y: scroll;
    max-height: 300px;
}


.dueDate {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF;


    border-radius: 8px;
    padding: 5px 10px;
    width: 78px;
    height: 32px;

    background: #cf3636;
}

.dueDateTitle {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}

.dueDateDiv{
    position: relative;
    bottom: 0px;
}